* {
  font-family: monospace;
  font-size: large;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: hidden;
}
.app-container {
  display: flex;
}
.sidebar {
  min-height: 100vh;
}
.content {
  width: 100%;
}
.reactions {
  width: 21rem;
  margin: 14px 10px;
}
.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
